@primary-color: #4569d4;
.sui-layout-footer {
  padding: 0 !important;
}
.app-footer-slider {
  width: 100%;
  height: 100%;
  position: relative;
  .sui-slider {
    position: absolute;
    top: -4px;
    left: 0px;
    margin: 0;
  }
  .app-footer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 50px;
    background-color: #fff;
    .app-audio-voice {
      width: 140px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .sui-slider {
        top: 0;
        position: relative;
      }
    }
  }
  .music-tools {
    height: 33.3%;
    display: flex;
    align-items: center;
    .music-tools-name {
      width: 200px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
    }
    .app-footer-song-lyrics {
      margin-left: 10px;
      width: 365px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: absolute;
      bottom: 11px;
      font-size: 12px;
    }
    .song-img {
      width: 40px;
      height: 40px;
      border-radius: 4px;
    }
    .yui-badge,
    .yui-badge-dark {
      right: 8px;
      bottom: 8px;
    }
    .iconfont {
      cursor: pointer;
      color: var(--theme-color);
      font-size: 28px;
      margin-left: 30px;
    }
    span {
      color: #676767;
    }
    a {
      color: var(--theme-color);
    }
  }
}
@keyframes badge-move-top {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
    bottom: 30px;
  }
}
@keyframes badge-move-right {
  0% {
  }
  100% {
    right: 90px;
  }
}
#play-animation {
  position: fixed;
  bottom: 20px;
  right: 20px;
  transform: scale(0);
  width: 30px;
  height: 30px;
  border-radius: 4px;
}
.play-animation-start {
  animation: badge-move-right 1.3s,
    badge-move-top 1.3s cubic-bezier(0.2, 0.1, 0.6, 0.8);
}
