@primary-color: #4569d4;
.app-recommend {
  position: relative;
  .icon-shengyin {
    color: @primary-color !important;
  }
  .icon-bofang {
    &:hover {
      color: @primary-color !important;
    }
  }
  .icon-xihuan {
    color: @primary-color !important;
  }
  .app-recommend-header {
    height: 50px;
    display: flex;
    padding: 0 60px;
    padding-right: 18px;
    align-items: center;
    position: relative;
    background: #fff;
    .dates {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 50px;
      background-color: #fafafa;
      .datas-weeks,
      .datas-days {
        color: #666;
        transform: scale(0.9);
      }
    }
  }
}
