@primary-color: #4569d4;
.app-layout-dark {
  // ::-webkit-scrollbar {/*滚动条整体样式*/
  //   width: 6px !important;     /*高宽分别对应横竖滚动条的尺寸*/
  //   height: 6px !important;
  // }
  // ::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  //   background: rgb(90, 90, 90) !important;
  //   opacity: 0.5;
  //   border-radius: 10px;
  // }
  // ::-webkit-scrollbar-track {/*滚动条里面轨道*/
  //   background: rgb(24, 23, 23) !important;
  //   border-radius: 10px;
  // }
  background-color: #000e18 !important;
  .logo {
    background-color: #000e18 !important;
  }
  .sui-layout-header {
    color: #ccc !important;
    background-color: #000e18 !important;
    .sui-input {
      background-color: #051622 !important;
      box-shadow: none;
      color: #ccc;
    }
    .sui-input-suffix {
      .iconfont {
        color: #ccc !important;
      }
    }
    .app-header-nav {
      .iconfont {
        color: #ccc !important;
      }
      span {
        color: #ccc !important;
      }
    }
  }
  .sui-layout-sider {
    background-color: #00162a !important;
  }
  .sui-layout-content {
    background-color: #050505 !important;
    .app-content-chidren {
      .app-content-chidren-header {
        background-color: #030c13 !important;
        span,
        b,
        h5 {
          color: #ccc !important;
        }
        .dates {
          .datas-weeks,
          .datas-days {
            color: #ccc !important;
          }
          background-color: #000e18 !important;
        }
        .sui-btn {
          background-color: #000e18 !important;
          color: #ccc !important;
          border-color: #333;
        }
        .sui-btn-primary {
          background-color: @primary-color !important;
        }
      }
    }
  }
  .sui-layout-footer {
    color: #ccc !important;
    background-color: #000e18 !important;
    box-shadow: 7px -4px 10px 0 rgba(48, 62, 83, 0.06);
    .sui-slider {
      .sui-slider-rail {
        background-color: #02090f !important;
      }
    }
    .app-footer-box {
      color: #ccc !important;
      background-color: #000e18 !important;
      .iconfont {
        color: #ccc !important;
      }
      span {
        color: #ccc !important;
      }
      .music-tools-name {
        color: #ccc;
      }
    }
  }
  .sui-layout-sider {
    background-color: #f8f8fb;
    .logo {
      background-color: #ccc;
    }
  }
  .sui-layout-sider-dark {
    background-color: #00162a;
    .logo {
      background-color: #002140;
      span,
      .iconfont {
        color: #fff;
      }
    }
    .sui-nav-dark {
      background-color: #010f1b !important;
      .sui-nav-subMenu-label {
        border-color: transparent !important;
      }
    }
    .sui-layout-sider-trigger {
      background-color: #000e18 !important;
      box-shadow: none !important;
    }
  }
  .sui-table-header {
    background-color: #000e18 !important;
    .sui-table-td {
      color: #ccc !important;
      div,
      span,
      i {
        color: #ccc !important;
      }
    }
    .sui-table-tr:hover {
      background-color: #051622 !important;
    }
  }
  .sui-table-body {
    background-color: #010f1a !important;
    .sui-table-td {
      div,
      span,
      i {
        color: #ccc !important;
      }
      color: #ccc !important;
    }
    .iconfont {
      color: #ccc !important;
    }
    .sui-table-tr:hover {
      background-color: #051622 !important;
    }
  }
  .sui-tooltip {
    .sui-tooltip-inner {
      background: #222;
      p {
        color: #ccc;
      }
    }
    .sui-tooltip-arrow::before,
    .sui-tooltip-dark .sui-tooltip-arrow::before {
      background-color: #222;
    }
  }
  .sui-drawer-header {
    background-color: #051622 !important;
    color: #ccc !important;
    div,
    .sui-icon {
      color: #ccc !important;
    }
  }
  .sui-drawer-body {
    background-color: #000e18 !important;
    color: #ccc !important;
    div,
    .sui-icon {
      color: #ccc !important;
    }
  }
  .sui-loading {
    .sui-loading-mask {
      background-color: #1d1e2052 !important;
    }
  }
  .del-all {
    color: #ccc !important;
  }
  .app-collection-tools {
    background: #000e18;
  }
  .app-collection-body {
    background: #000e18;
    color: #ccc !important;
    div,
    span,
    .sui-icon {
      color: #ccc !important;
    }
    .app-collection-item {
      color: #ccc !important;
    }
    .app-collection-item:hover {
      background: #091e2b !important;
    }
  }
}
.app-login-box-dark {
  .sui-modal-header,
  .sui-modal-body,
  .sui-modal-footer {
    background-color: #051622;
    color: #ccc !important;
    border: 0;
    div,
    .sui-icon {
      color: #ccc !important;
    }
  }
  .sui-radio-wrapper {
    span {
      color: #ccc;
    }
  }
  .sui-input {
    background-color: #051622 !important;
    border-color: #091e2b !important;
    box-shadow: none !important;
    color: #fff;
  }
}
